html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,input,select,i {
	margin:0;
	padding:0
}
abbr,article,aside,bb,datagrid,datalist,details,dialog,eventsource,figure,footer,header,mark,menu,meter,nav,output,progress,section,time {
	margin:0;
	padding:0
}
body {
	background-color:#fff;
	font:normal 12px/1.5 "Microsoft yahei","Arial";
	color:#666;
	text-align:center;
	word-wrap:break-word;
	word-break:break-all
}
table {
	border-collapse:collapse;
	border-spacing:0
}
td,th {
	padding:0
}
table caption {
	display:none
}
ol,ul {
	list-style:none outside
}
a {
	text-decoration:none;
	color:#666
}
a:hover {
	text-decoration:underline;
	color:#1F7DD8
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	font-family:inherit;
	font-weight:500;
	color:inherit;
	font-size:100%
}
h1 small,h1 .small,h2 small,h2 .small,h3 small,h3 .small,h4 small,h4 .small,h5 small,h5 .small,h6 small,h6 .small,.h1 small,.h1 .small,.h2 small,.h2 .small,.h3 small,.h3 .small,.h4 small,.h4 .small,.h5 small,.h5 .small,.h6 small,.h6 .small {
	font-weight:normal;
	line-height:1;
	color:#999
}
small,.small {
	font-size:85%
}
fieldset,img {
	border:0 none
}
img {
	vertical-align:middle
}
q:before,q:after {
	content:''
}
button {
	padding:0;
	cursor:pointer;
	vertical-align:middle
}
i,em,cite,b {
	font-style:normal
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
audio,canvas,progress,video {
	display:inline-block;
	vertical-align:baseline
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer
}
button[disabled],html input[disabled] {
	cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
input {
	line-height:normal
}
.input {
	margin:0px;
	padding:0px;
	border:0 none;
	outline:0 none
}
input:-webkit-autofill {
	-webkit-box-shadow:0 0 0 1000px white inset
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline
}
sup {
	top:-0.5em
}
sub {
	bottom:-0.25em
}
@font-face {
	font-family:'ymticon';
	src:url("/Content/icon-font/ymticon/iconfont.eot?v=201408290101");
	src:url("/Content/icon-font/ymticon/iconfont.eot?v=201408290101#iefix") format("embedded-opentype"),url("/Content/icon-font/ymticon/iconfont.woff?v=201408290101") format("woff"),url("/Content/icon-font/ymticon/iconfont.ttf?v=201408290101") format("truetype"),url("/Content/icon-font/ymticon/iconfont.svg#ymticon") format("svg")
}
.icon-font {
	font-family:'ymticon';
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale
}
.order-icon {
	background-image:url(/images/order-icon.2015090615.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	background-repeat:no-repeat;
	width:16px;
	height:16px
}
.order-tip {
	background-position:-48px 0
}
.order-private {
	background-position:-130px -100px
}
.order-arrow-up {
	background-position:-64px -2px
}
.order-arrow-down {
	background-position:-80px -2px
}
.order-tips {
	background-position:-99px -2px
}
.order-remarks {
	background-position:-32px 0
}
.order-remarks-view {
	background-position:0 0
}
.order-error-s {
	background-position:-116px -1px
}
.order-warning {
	background-position:-2px -76px;
	width:48px;
	height:48px
}
.order-success {
	background-position:-2px -21px;
	width:48px;
	height:48px
}
.order-error {
	background-position:-60px -21px;
	width:48px;
	height:48px
}
@font-face {
	font-family:"logistics";
	src:url("../../font/logisticsicon/iconfont.eot");
	src:url("../../font/logisticsicon/iconfont.eot?#iefix") format("embedded-opentype"),url("../../font/logisticsicon/iconfont.woff") format("woff"),url("../../font/logisticsicon/iconfont.ttf") format("truetype"),url("../../font/logisticsicon/iconfont.svg#iconfont") format("svg")
}
.font-logistics {
	font-family:"logistics" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	-webkit-text-stroke-width:0.2px;
	-moz-osx-font-smoothing:grayscale;
	color:#431b0f !important;
	margin-right:4px
}
.icon_state_txt {
	font-family:'Microsoft YaHei','Heiti SC',Tahoma,Geneva,sans-serif;
	font-size:12px;
	color:#431b0f;
	display:inline-block;
	height:20px;
	line-height:20px
}
.fc-gray-darker {
	color:#222
}
.fc-gray-dark {
	color:#333
}
.fc-gray {
	color:#666
}
.fc-gray-light {
	color:#999
}
a.fc-gray-light {
	color:#999
}
a.fc-gray-light:hover {
	color:#1F7DD8
}
.fc-gray-lighter {
	color:#ccc
}
.fc-orange {
	color:#FF7F00
}
.fc-red {
	color:#FF0000
}
.wrapper .area {
	margin-right:auto;
	margin-left:auto;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
	width:1190px
}
.wrapper .area:before,.wrapper .area:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	font-size:0;
	line-height:0
}
@media (min-width:1200px) {
	.wrapper .area {
	width:1190px
}
}.wrapper {
	margin-right:auto;
	margin-left:auto;
	width:100%;
	min-width:1200px
}
.wrapper:before,.wrapper:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	font-size:0;
	line-height:0
}
.mainbody {
	padding:10px 0
}
.yfl {
	float:left
}
.yfr {
	float:right
}
.w1190 {
	width:1190px;
	margin:0 auto
}
.backtop {
	position:fixed;
	z-index:9999;
	right:0px;
	width:34px;
	bottom:200px;
	color:#999
}
.backtop a {
	color:#999;
	text-decoration:none
}
.backtop .ico {
	cursor:pointer;
	display:block;
	width:34px;
	height:48px;
	background:#fff url(/images/sprites/backTop.png) no-repeat
}
.backtop .group-ico {
	display:block;
	cursor:pointer;
	position:relative
}
.backtop .group-ico .txt {
	width:20px;
	display:block;
	margin-left:7px;
	padding-bottom:10px;
	color:#fff;
	word-break:break-all
}
.backtop .group-qq {
	background-color:#ef6464
}
.backtop .ico-backtop {
	height:36px;
	background:#999 url(/images/newhome/img_bg.png) -193px 11px no-repeat
}
.backtop .ico-backtop:hover {
	background-color:#ccc
}
.backtop .ico-support {
	background-position:0 -50px
}
.backtop .ico-qq {
	width:27px;
	height:33px;
	margin-left:5px;
	margin-bottom:5px;
	background:url(/images/newhome/img_bg.png) right 8px no-repeat
}
.backtop .ico-qq-off-line {
	background-position:-0px -250px
}
.backtop .ico-support-off-line {
	background-position:-0px -153px
}
.backtop .qq-ymt-tips {
	width:228px;
	text-align:left;
	border:1px solid #666;
	display:block;
	position:absolute;
	color:#666;
	right:167%;
	filter:alpha(opacity=0);
	opacity:0;
	top:0;
	transition:.3s;
	padding:5px 0px 0px 20px;
	background-color:#fff
}
.backtop .qq-ymt-tips .btit {
	float:left;
	height:40px
}
.backtop .qq-ymt-tips .right_triangle {
	display:none;
	width:0px;
	height:0px;
	overflow:hidden;
	border:6px solid transparent;
	border-left:6px solid #676767;
	position:absolute;
	top:10px;
	right:-13px
}
.group-question {
	width:36px;
	background:#F06562;
	height:45px;
	color:#fff
}
.jiang {
	display:block;
	height:45px;
	font-size:26px;
	font-weight:bold;
	border-bottom:2px solid #FFA09E
}
.diaocha {
	display:block;
	height:45px;
	font-size:14px
}
.backtop .group-question {
	margin:1px 0px;
	width:34px
}
.alert_box,.layerTemps {
	border:1px solid #CCCCCC;
	position:absolute;
	padding:5px;
	z-index:1000;
	background-color:#EFEFEF;
	display:none
}
.alert_box .alert_box_inner {
	background-color:#FFFFFF;
	padding:1px 1px 10px
}
.layerTemps .alert_box_inner {
	padding:40px 0;
	background-color:#FFFFFF;
	text-align:center;
	width:350px
}
.alert_box .alert_mod,.layerTemps .alert_mod {
	padding:10px
}
.alert_box .split {
	padding:0 10px
}
.alert_single .alert_box_inner {
	background-color:#FFFFFF;
	padding:80px 0;
	text-align:center;
	width:400px
}
.alert_box .title {
	font-weight:bold
}
.alert_box .hd,.alert_box .bd,.alert_box .bt {
	padding:10px
}
.alert_box .shut {
	display:block;
	width:10px;
	height:10px;
	cursor:pointer;
	background:url(/content/img/sprites/icon.png) no-repeat -162px -125px;
	position:absolute;
	top:10px;
	right:10px;
	z-index:1000
}
.alert_box,.layerTemps {
	border:1px solid #CCCCCC;
	position:absolute;
	padding:5px;
	z-index:11;
	background-color:#EFEFEF;
	display:none
}
.alert_box .alert_box_inner {
	background-color:#FFFFFF;
	padding:1px 1px 10px
}
.alert_box .split {
	padding:0 10px
}
.layerTemps .alert_box_inner {
	padding:40px 0;
	background-color:#FFFFFF;
	text-align:center;
	width:350px
}
.alert_box .alert_mod,.layerTemps .alert_mod {
	padding:10px
}
.alert_single .alert_box_inner {
	background-color:#FFFFFF;
	padding:80px 0;
	text-align:center;
	width:400px
}
.alert_box .title {
	font-weight:bold
}
.alert_box .hd,.alert_box .bd,.alert_box .bt {
	padding:10px
}
.simpleText .bd {
	padding:30px 0
}
.alert_box .shut {
	display:block;
	width:10px;
	height:10px;
	cursor:pointer;
	background:url(/content/img/sprites/icon.png) no-repeat -162px -125px;
	position:absolute;
	top:10px;
	right:10px;
	z-index:1000
}
.alert_box .hd {
	border-bottom:1px solid #E2E2E2;
	padding-right:20px
}
.alert_box .bt {
	border-top:1px solid #E2E2E2;
	padding-top:10px;
	text-align:center
}
.table {
	border:1px solid #e2e2e2
}
.table th,.table td {
	border:1px solid #e2e2e2;
	padding:10px
}
.table .al {
	text-align:left
}
.table .ar {
	text-align:right
}
.demo {
	line-height:30px;
	padding:10px 0;
	border-bottom:1px solid #e2e2e2;
	display:block;
	width:70%;
	margin:0 auto;
	cursor:pointer
}
.modify-info .alert_box_inner {
	width:720px;
	color:#000;
	text-align:left
}
.modify-info .hd {
	font:bold 14px/1.5 "\5b8b\4f53"
}
.modify-info .pro {
	padding:10px 0;
	height:250px;
	overflow-y:scroll
}
.modify-info .bt {
	padding:10px 0
}
.modify-info .phd {
	line-height:30px
}
.modify-info .pbd {
	width:700px;
	text-align:center
}
.modify-info .pbd th {
	background-color:#f5f5f5
}
.modify-info .h-1 {
	padding:0;
	width:80px
}
.modify-info .inp {
	width:50px;
	height:26px;
	text-align:center
}
.modify-info .inp-1 {
	width:160px;
	height:26px
}
.modify-info .wid {
	width:200px
}
.modify-info .ma {
	margin:0 10px
}
.modify-info .select {
	display:block;
	width:200px;
	margin:10px 2px
}
.modify-info .l {
	float:left
}
.modify-info .btn_1 {
	margin:0 10px 0 180px
}
.modify-info .bt .r {
	float:right
}
.modify-info .bt .btn_0,.modify-info .bt .btn_1 {
	width:60px
}
.modify-info .add {
	border:1px dashed #e2e2e2;
	padding:5px 10px;
	text-decoration:none;
	color:#3368ff;
	cursor:pointer
}
.modify-info .add i {
	padding-right:10px
}
.pro-declaration {
	width:570px;
	text-align:left
}
.pro-declaration .alert_box_inner {
	padding:10px
}
.pro-declaration .hd {
	font:bold 14px/1.5 "\5b8b\4f53";
	color:#000
}
.hd .hc {
	font:12px/1.5 "Arial","宋体","宋体B8B\4F53",sans-serif;
	color:#666
}
.pro-declaration .pbd {
	width:530px;
	margin:10px 0;
	text-align:center
}
.pro-declaration .pbd th {
	background-color:#f5f5f5
}
.pro-declaration .bt {
	text-align:center;
	padding:10px 0
}
table .red {
	color:red
}
.tableRL {
	border:1px solid #C9D5E2
}
.tableRL .label {
	background:#E5F5FF;
	color:#000;
	text-align:right
}
.tableRL td {
	padding:5px 10px;
	border:1px solid #C9D5E2
}
.alert_box .h3 {
	font:bold 14px/1.5 "arial";
	color:#000
}
.comment .alert_box_inner {
	width:510px
}
.comment .label {
	width:120px
}
.comment .tr {
	text-align:right
}
.comment .tc {
	text-align:center
}
.comment .bod {
	border-bottom:1px dashed #ccc
}
.comment .bt {
	padding-bottom:10px
}
.comment .textarea {
	width:440px;
	height:50px
}
.comment .node {
	margin:10px 0
}
.comment .tableRL {
	width:490px
}
.promotional {
	width:850px
}
.promotional .node {
	margin:10px 0
}
.promotional .name {
	width:80px;
	text-align:right
}
.promotional .cont {
	width:700px
}
.wid600 {
	width:600px
}
.wid500 {
	width:500px
}
.address .textarea {
	width:400px;
	height:88px
}
.address .node {
	margin:20px 0
}
.layer-member-grade {
	width:380px
}
.layer-member-grade .user-grade {
	font-size:56px;
	color:#A62716;
	line-height:1
}
.layer-member-grade .btn-detail {
	color:#fff;
	background-color:#F03D00;
	height:40px;
	font:bold 14px/40px "宋体";
	display:inline-block;
	padding:0 10px;
	margin-top:10px
}
.layer-member-grade h3 {
	color:#000;
	font:bold 14px/2 "宋体"
}
.layer-member-grade .right {
	text-align:left;
	width:280px;
	padding-left:10px;
	line-height:20px
}
.layer-300 .alert_box_inner {
	width:300px
}
.billcourse .left {
	width:380px
}
.billcourse .right {
	width:301px;
	height:360px;
	overflow:hidden
}
.billcourse .number {
	display:inline-block;
	vertical-align:middle;
	background-color:#ff9900;
	border-radius:3px;
	padding:2px 6px;
	margin:0 5px;
	color:#fff;
	font:bold 12px/normal "arial"
}
.billcourse .head {
	margin:20px 0
}
.billcourse p {
	margin:20px 0
}
.billcourse .bt-btn {
	text-align:center;
	margin-top:40px
}
.billcourse .btn-0-0 {
	padding:5px 20px;
	font:bold 16px/26px "宋体"
}
.getRedPackageAlert {
	width:522px;
	margin:0 auto;
	height:220px;
	background:url("/images/olderpullnew/redpackage.jpg") right center no-repeat scroll #fff
}
.getRedPackageAlert .red {
	color:#cc3333;
	font-size:16px;
	font-weight:bold
}
.getRedPackageAlert .closeBtn {
	width:23px;
	height:23px;
	margin-right:-23px;
	position:relative;
	background:url("/images/olderpullnew/closeBtn.jpg") center no-repeat
}
.getRedPackageAlert .des {
	width:346px;
	padding:10px 0 0 20px
}
.getRedPackageAlert .des .title {
	font-size:24px;
	font-weight:bold;
	color:#cc3333;
	text-align:center
}
.getRedPackageAlert .des .info {
	text-align:left;
	line-height:20px;
	font-size:14px;
	margin-top:4px
}
.redPackage {
	width:146px;
	line-height:20px;
	text-align:center;
	padding:30px 0;
	font-size:36px;
	color:#fff
}
.redPackage .small {
	font-size:14px
}
.ymt-user-common {
	text-align:left;
	width:350px;
	border:3px solid #CCC;
	background-color:#fff;
	display:none;
	z-index:9999
}
.ymt-user-common a:hover {
	color:#fff
}
.user-login-title {
	border-bottom:1px solid #EEE;
	position:relative
}
.user-login-title h3 {
	font:14px/34px "微软雅黑";
	color:#666;
	text-indent:12px
}
.user-login-title .shut-user {
	width:12px;
	height:12px;
	overflow:hidden;
	display:inline-block;
	position:absolute;
	top:10px;
	right:10px;
	background:#fff url(/images/sprites/sprite_user_login_mobile.png) 0 -97px no-repeat;
	cursor:pointer
}
.user-login-box {
	padding:20px 32px 0px 32px;
	color:#999;
	font-size:12px
}
.user-login-box .user-row {
	margin-bottom:15px;
	vertical-align:top;
	font-size:0
}
.user-login-box .u-input {
	padding:0 5px;
	width:170px;
	height:28px;
	line-height:28px;
	border:1px solid #DDD;
	box-shadow:0px 0px 8px #EEE inset
}
.user-login-box .user-label {
	display:inline-block;
	height:30px;
	width:72px;
	line-height:30px;
	text-align:right
}
.user-row-cont label,.user-row-cont input,.user-row-cont span {
	vertical-align:middle;
	font-size:12px
}
.user-login-box .captchas-input {
	width:70px;
	height:28px
}
.user-login-box .captchas {
	display:inline-block;
	width:94px;
	height:30px;
	margin-left:5px;
	background:#DDD;
	font-size:0
}
.user-login-box .captchas em {
	display:inline-block;
	width:31px;
	height:28px;
	float:right;
	margin-top:1px;
	background:url(/images/sprites/sprite_user_login_mobile.png) 0 0 no-repeat;
	cursor:pointer
}
.user-login-box .captchas img {
	margin-top:1px;
	float:left
}
.user-login-box .msg-check {
	width:102px;
	height:28px;
	border:1px solid #DDD;
	display:inline-block;
	margin-left:-4px;
	background:gray;
	text-align:center;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#EEEEEE',GradientType=0);
	background-image:-webkit-linear-gradient(top,#fff 0%,#eee 100%);
	background-image:-moz-linear-gradient(top,#fff 0%,#eee 100%);
	background-image:linear-gradient(top,#fff 0%,#eee 100%)
}
.user-login-box .msg-check strong {
	font-size:12px;
	color:#666;
	line-height:30px;
	display:inline-block;
	height:30px;
	font-weight:normal;
	cursor:pointer
}
.user-login-box .error-user {
	font-size:12px;
	color:red;
	padding-left:62px;
	padding-top:14px;
	display:none
}
.user-login-box .err-icon {
	width:12px;
	height:12px;
	margin-right:2px;
	display:inline-block;
	background:url(/images/sprites/sprite_user_login_mobile.png) 0 -111px no-repeat;
	vertical-align:middle
}
.user-login-box .err-info {
	vertical-align:middle
}
.user-login-box .err-input {
	border-color:red
}
.user-submit-li {
	padding-bottom:22px;
	font-size:0
}
.J_signIn {
	width:90px;
	height:32px;
	background:#C33;
	display:inline-block;
	font:14px/32px "微软雅黑";
	text-decoration:none;
	color:#fff;
	text-align:center;
	box-shadow:0px 3px #EEE
}
.J_signIn:hover {
	text-decoration:none
}
.user-login-foot {
	width:240px;
	margin:0 auto;
	padding-top:10px;
	padding-bottom:20px;
	border-top:1px solid #EEE;
	font-size:12px;
	overflow:hidden
}
.user-login-foot .p_item {
	float:left
}
.user-login-foot a {
	text-decoration:none;
	color:#1F7DD8
}
.user-login-foot .user-forget {
	padding-right:26px
}
.user-login-foot .user-forget:hover {
	color:#1F7DD8;
	text-decoration:underline
}
.user-login-foot .user-free-signin {
	padding-left:5px
}
.user-login-foot .user-free-signin:hover {
	color:#1F7DD8;
	text-decoration:underline
}
.alert-center-box {
	padding:25px 30px 10px 75px;
	color:#666;
	font-size:12px;
	position:relative
}
.alert-center-box .msg {
	margin-bottom:20px
}
.alert-center-box .success {
	margin-bottom:5px;
	color:#59B200 !important;
	font-size:14px
}
.bind-btn {
	width:110px;
	height:32px;
	background:#C33;
	display:inline-block;
	font:14px/32px "微软雅黑";
	text-decoration:none;
	color:#fff;
	text-align:center;
	margin:0 15px 15px 0
}
.clear-btn {
	vertical-align:middle;
	color:#1F7DD8;
	text-decoration:none
}
.clear-btn:hover {
	text-decoration:underline
}
.warn-icon,.success-icon {
	width:32px;
	height:32px;
	display:block;
	position:absolute;
	top:23px;
	left:26px;
	background:url(/images/sprites/sprite_user_login_mobile.png) no-repeat
}
.warn-icon {
	background-position:0 -62px
}
.success-icon {
	background-position:0 -30px
}
.mod-tips {
	margin-left:5px;
	position:relative
}
.mod-tips-info {
	position:absolute;
	cursor:default;
	width:250px;
	padding:5px 10px;
	border:1px solid #ddd;
	background-color:#fff;
	z-index:100000;
	color:#999;
	display:none;
	text-align:left;
	line-height:1.5;
	font-size:12px;
	word-break:normal
}
.mod-blank-arrow {
	position:absolute;
	font-size:0;
	text-align:left;
	display:block;
	height:20px;
	width:20px
}
.mod-blank-arrow i {
	position:absolute;
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	display:inline-block;
	left:0;
	top:0
}
.mod-tips-up .mod-blank-arrow {
	left:20px;
	top:-20px
}
.mod-tips-up .mod-blank-arrow-one {
	border-width:10px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #bbb transparent
}
.mod-tips-up .mod-blank-arrow-two {
	border-width:10px;
	border-style:dashed dashed solid dashed;
	border-color:transparent transparent #fff transparent
}
.mod-tips-up:hover .mod-tips-info {
	display:block;
	top:26px;
	left:-15px
}
.mod-tips-up:hover .mod-tips-info .mod-blank-arrow-two {
	top:1px
}
.mod-tips-down .mod-blank-arrow {
	left:20px;
	bottom:-20px
}
.mod-tips-down .mod-blank-arrow-one {
	border-width:10px;
	border-style:solid dashed dashed dashed;
	border-color:#bbb transparent transparent transparent
}
.mod-tips-down .mod-blank-arrow-two {
	border-width:10px;
	border-style:solid dashed dashed dashed;
	border-color:#fff transparent transparent transparent
}
.mod-tips-down:hover .mod-tips-info {
	display:block;
	bottom:26px;
	left:-15px
}
.mod-tips-down:hover .mod-tips-info .mod-blank-arrow-two {
	bottom:1px
}
.couponlayerbox {
	width:530px;
	height:280px;
	text-align:left;
	background:url(/images/olderpullnew/coupon_03.jpg) left center no-repeat #fff;
	position:relative
}
.couponlayerbox .closeBtn {
	position:absolute;
	right:8px;
	top:10px;
	width:18px;
	height:18px;
	background:url(/images/olderpullnew/close_06.jpg) center no-repeat
}
.couponlayerbox .cont {
	width:308px;
	height:226px;
	padding:54px 36px 0;
	float:right
}
.couponlayerbox .cont .yes {
	color:#59b200;
	font-size:52px;
	line-height:56px;
	float:left
}
.couponlayerbox .cont .info {
	color:#59b200;
	font-size:14px;
	font-weight:bold
}
.couponlayerbox .cont .coupontext {
	padding-left:60px
}
.couponlayerbox .cont .coupontext p {
	line-height:26px
}
.couponlayerbox .cont .bindtext {
	padding-left:60px
}
.couponlayerbox .cont .bindtext p {
	line-height:52px
}
.couponlayerbox .cont .qr {
	text-align:center;
	margin-top:10px
}
.couponlayerbox .cont .bindbtn {
	text-align:center;
	margin-top:20px
}
.couponlayerbox .cont .bindbtn .receiveBtn {
	padding:10px 24px;
	color:#fff;
	background-color:#cc3333
}
.img-130 {
	width:130px;
	height:130px
}
.img-120 {
	width:120px;
	height:120px
}
.arrow-border3 {
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	display:inline-block;
	border-width:3px;
	border-style:solid dashed dashed dashed;
	border-color:#333 transparent transparent transparent
}
.ico-caution,.icon-red-caution,.ico-success,.ico-qzone,.ico-weibo,.ico-renren,.ico-kaixin,.ico-doubt,.ico-weibo-png {
	background-image:url(/images/sprites/ico-small.2014112623.png)
}
.ico-success,.ico-qzone,.ico-weibo,.ico-renren,.ico-kaixin,.ico-doubt,.icon-red-caution,.ico-weibo-png {
	display:inline-block;
	vertical-align:middle;
	background-repeat:no-repeat
}
.ico-success {
	width:20px;
	height:18px;
	background-position:0 0
}
.ico-qzone,.ico-weibo,.ico-renren,.ico-kaixin {
	width:16px;
	height:16px
}
.ico-qzone {
	background-position:-26px -20px
}
.ico-weibo {
	background-position:-26px -41px
}
.ico-weibo-png {
	background-position:-26px -131px;
	width:22px;
	height:20px
}
.ico-renren {
	background-position:-26px -63px
}
.ico-kaixin {
	background-position:-26px -85px
}
.ico-doubt {
	width:18px;
	height:18px;
	background-position:0 -162px
}
.ico-new {
	display:inline-block;
	width:23px;
	height:11px;
	background:url(/content/images/new.2014112623.gif) 0 0
}
.icon-red-caution {
	width:16px;
	height:16px;
	background-position:0 -254px
}
.topbar .tooltip-3 .arrow {
	position:absolute;
	top:-8px;
	left:18px;
	background-position:-105px -233px;
	width:15px;
	height:8px
}
.topbar .tooltip-3 .close {
	width:10px;
	height:11px;
	background-position:-0px -63px;
	font-size:0;
	cursor:pointer;
	right:10px;
	top:10px;
	position:absolute
}
.topbar .tooltip-3 .arrow,.topbar .tooltip-3 .close {
	background-image:url(/images/sprites/ico-small.2014112623.png)
}
.icon-phone {
	background:url(/images/sprites/phone.2014112623.png) no-repeat 0 0;
	width:9px;
	height:16px;
	display:inline-block
}
.icon-close {
	display:inline-block;
	width:12px;
	height:12px;
	background:url(/images/sprites/close.2014112623.png) no-repeat;
	vertical-align:middle
}
.c-pagination {
	color:#999;
	white-space:nowrap
}
.c-pagination .pagination-page {
	display:inline-block
}
.c-pagination li a {
	display:inline;
	padding:6px 10px;
	border:1px solid #ddd
}
.c-pagination .forward {
	width:35px;
	height:28px;
	line-height:28px;
	padding:0 5px;
	border:1px solid #ccc;
	background:linear-gradient(to bottom,#fff,#efefef,#e2e2e2);
	margin:0 4px;
	color:#999;
	vertical-align:baseline
}
.c-pagination li {
	float:left;
	margin:0 2px
}
.c-pagination li a:hover,.c-pagination li .active {
	padding:5px 9px;
	border:2px solid #1D398D;
	color:#1D398D
}
.c-pagination .disabled {
	color:#eee;
	border:1px solid;
	cursor:auto
}
.c-pagination li .disabled:hover,.c-pagination li .active:hover {
	cursor:auto
}
.c-pagination li .disabled:hover {
	padding:6px 10px;
	border:1px solid #ddd;
	color:#eee
}
.nav-sidebar .hover .site-menus {
	display:block
}
.site-menus {
	width:676px;
	position:absolute;
	z-index:100;
	background-color:#fff;
	text-align:left;
	padding:10px 0;
	display:none;
	height:auto;
	min-height:300px;
	left:157px;
	top:-1px
}
.site-menus .site-list {
	width:445px;
	float:left;
	min-height:300px;
	border-right:1px #ddd dashed
}
.site-menus .site-brands {
	float:right;
	width:215px;
	margin-right:15px
}
.site-menus li {
	display:none
}
.site-menus li.current {
	display:block
}
.site-menus dl {
	width:200px;
	float:left;
	display:inline;
	margin:0 0 20px 15px;
	overflow:hidden
}
.site-menus .brands dd {
	height:auto
}
.site-menus dt {
	margin:0 0 3px 0
}
.site-menus dt a {
	font:normal 12px/1.5 'microsoft yahei';
	font-weight:700
}
.site-menus dt a:hover {
	text-decoration:none
}
.site-menus dd {
	margin-left:-11px;
	height:62px;
	overflow:hidden
}
.site-menus dd a {
	display:inline-block;
	padding:0 10px;
	height:14px;
	margin:5px 0 0 0;
	color:#878787;
	font:normal 12px/normal 瀹嬩綋,arial;
	border-left:1px solid #dedede
}
.site-menus dd a:hover {
	color:#1F7DD8;
	text-decoration:none
}
.gheader {
	height:80px
}
.gheader:before,.gheader:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	font-size:0;
	line-height:0
}
@media screen and (max-width:1200px) {
	width:1000px;
	margin:0 auto
}
@media screen and (max-width:1024px) {
	.vbanner {
	margin:0 auto;
	width:1000px
}
}.topbar {
	position:relative;
	z-index:100001;
	background-color:#F4F4F4;
	height:38px;
	border-bottom:1px solid #eee
}
.topbar .hd-login {
	float:left;
	position:relative;
	margin-left:-8px
}
.topbar .hd-login,.topbar .hd-right {
	height:30px;
	line-height:30px;
	width:500px;
	margin-top:4px
}
.topbar .hd-right {
	float:right;
	width:auto
}
.topbar #ShoppingCart {
	_position:relative
}
.topbar .item {
	float:left;
	padding:0 8px;
	color:#999;
	margin-top:1px
}
.topbar .top-dropdown {
	padding:0
}
.topbar a {
	color:#999
}
.topbar a:hover {
	color:#1F7DD8;
	text-decoration:none
}
.topbar .fc-orange {
	color:#FF7F00
}
.topbar .fc-red {
	color:#ff0000;
	text-decoration:underline
}
.topbar .icon-phone {
	position:relative;
	margin-right:4px;
	margin-top:6px;
	background:url(/images/sprites/icon-phonehover.png) no-repeat;
	float:left
}
.topbar .number,.topbar .number-dots {
	position:relative;
	width:11px;
	height:11px;
	background:url(/images/home/circle.png) no-repeat;
	display:inline-block;
	line-height:1;
	font-size:12px;
	color:#fff;
	text-align:center;
	font-family:arial;
	top:-5px;
	_position:absolute;
	_top:0
}
.topbar .number-dots {
	background:url(/images/home/circle-dot.png) no-repeat
}
.simpletopbar {
	height:98px;
	border-bottom:2px solid #CC3333
}
.simpletopbar a {
	color:#999
}
.simpletopbar a:hover {
	color:#1F7DD8
}
.simpletopbar .left {
	float:left
}
.simpletopbar .logo {
	width:311px;
	height:73px;
	background:url(/images/sprites/logo.2015090615.png);
	display:block;
	float:left;
	margin:12px 0 13px
}
.simpletopbar .right {
	padding-top:40px;
	float:right;
	line-height:30px
}
.simpletopbar .item {
	float:left;
	padding:0 8px;
	color:#999
}
.simpletopbar .top-dropdown {
	padding:0
}
.simpletopbar .top-dropdown .droptitle {
	border:1px solid #fff
}
.simpletopbar .number,.simpletopbar .number-dots {
	position:relative;
	width:11px;
	height:11px;
	background:url(/images/home/circle.png) no-repeat;
	display:inline-block;
	line-height:1;
	font-size:12px;
	color:#fff;
	text-align:center;
	font-family:arial;
	top:-5px
}
.simpletopbar .number-dots {
	background:url(/images/home/circle-dot.png) no-repeat
}
.simpletopbar #ShoppingCart {
	_margin-top:8px
}
.top-dropdown {
	position:relative;
	padding:0;
	margin:1px 8px 0;
	z-index:110
}
.top-dropdown span,.top-dropdown i {
	cursor:pointer
}
.top-dropdown .mobiletext {
	color:#cc3333
}
.top-dropdown .droptitle {
	border:1px solid #F4F4F4;
	border-bottom:0;
	display:block;
	margin-top:-1px;
	line-height:29px
}
.top-dropdown:hover,.top-dropdown.top-dropdown-ie6 {
	margin:1px 0 0;
	z-index:111
}
.top-dropdown:hover .droptitle,.top-dropdown.top-dropdown-ie6 .droptitle {
	display:block;
	border:1px solid #666;
	border-bottom:0;
	background-color:#fff;
	padding:0 8px;
	z-index:112;
	position:relative;
	height:32px;
	*top:-1px;
	*height:30px;
	_width:60px
}
.top-dropdown:hover .dropdownlist,.top-dropdown.top-dropdown-ie6 .dropdownlist {
	display:block
}
.top-dropdown span,.top-dropdown .icon-phone {
	display:inline-block;
	vertical-align:top
}
.top-dropdown i {
	display:inline-block
}
.top-dropdown .icon-close {
	vertical-align:middle
}
.top-dropdown .arrow {
	height:0;
	font-size:0;
	line-height:0;
	overflow:hidden;
	display:inline-block;
	border-width:3px;
	border-style:solid dashed dashed dashed;
	border-color:#666 transparent transparent transparent;
	margin:6px 3px 0;
	*margin:14px 3px 0;
	_margin:14px 0 0
}
.dropdownlist {
	border:1px solid #666;
	position:absolute;
	display:none;
	background-color:#fff;
	left:0;
	z-index:101;
	top:31px;
	*top:29px;
	line-height:18px;
	overflow:hidden
}
.dropdownlist li {
	border-bottom:1px dashed #ddd;
	padding:5px 8px;
	margin-bottom:-1px
}
.dropdownlist a {
	color:#666
}
.dropdownlist a:hover {
	color:#1F7DD8
}
.dropdownlist a.fc-red-light {
	color:#cc3333
}
#QuickLogin .dropdownlist {
	width:94px
}
#QuickLogin .dropdownlist li {
	width:78px
}
#StowBox .dropdownlist {
	width:80px
}
#SellerServer .dropdownlist {
	width:100px
}
#MyCollect .dropdownlist,#MyCollect li,#MyMatou .dropdownlist,#MyMatou li {
	width:76px
}
.message {
	width:244px;
	overflow:hidden
}
.message li {
	padding:8px;
	border-bottom:1px dashed #ddd;
	margin-bottom:-1px
}
.message li .txt {
	width:206px;
	display:inline-block;
	vertical-align:middle
}
.message .icon-close {
	margin-left:10px;
	cursor:pointer
}
.message .arrow {
	margin-left:5px
}
.buttons {
	height:38px;
	border-top:1px solid #ddd
}
.buttons a {
	float:left;
	height:38px;
	line-height:35px;
	padding:0 9px;
	*padding:0 7px;
	_padding:0 5px;
	border-left:1px solid #ddd;
	margin-left:-1px;
	position:relative
}
.buttons .fs4 {
	padding:0 11px
}
.message .buttons i {
	position:absolute;
	top:2px;
	right:4px
}
.myMatouText {
	position:relative
}
.myMatouText .bubble-box {
	top:11px;
	right:-15px
}
.unav_item .bubble-box {
	top:13px;
	right:27px
}
.unav_item .bubbleWidth {
	width:46px;
	top:12px;
	right:-7px
}
.bubble-box {
	position:absolute
}
.bubble-box .wrap {
	position:absolute;
	background-color:#cc3333;
	border-radius:2px;
	bottom:0;
	left:-8px;
	padding:2px 4px
}
.bubble-box .wrap .gift {
	width:10px;
	height:10px;
	background:url(/images/olderpullnew/activityIcon.png) 0 0 no-repeat;
	display:block
}
.bubble-box .wrap .award {
	width:38px;
	height:10px;
	background:url(/images/olderpullnew/activityIcon.png) right 0 no-repeat;
	display:block
}
.arrow-bottom {
	border-left:4px solid #cc3333;
	border-bottom:4px solid transparent
}
.fc-red-light {
	color:#cc3333
}
.global-header {
	height:141px;
	background-color:#fff;
	border-bottom:2px solid #d33
}
.global-header .headin {
	width:1190px;
	margin:0 auto
}
.global-header .headin:before,.global-header .headin:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	font-size:0;
	line-height:0
}
.global-header .htop {
	height:100px
}
.global-header .search-box {
	display:inline;
	margin-left:10px;
	margin-top:30px
}
.global-header .logo {
	width:490px;
	height:100px;
	cursor:pointer;
	text-align:left
}
.global-header .logo img {
	max-width:490px;
	max-height:100px
}
.global-header .search-box {
	position:relative;
	text-align:left
}
.global-header .search-box .search-form {
	position:relative;
	z-index:2;
	width:455px;
	height:32px;
	border:2px solid #c33;
	margin-bottom:6px
}
.global-header .search-box .search-form .sw-type {
	position:absolute;
	_position:relative;
	left:0px;
	top:0px;
	z-index:2;
	font-size:12px;
	font-family:"Microsoft YaHei";
	color:#666;
	width:48px;
	height:25px;
	float:left;
	cursor:pointer;
	padding-left:12px;
	padding-top:7px
}
.global-header .search-box .search-form .sw-type .s-name {
	float:left
}
.global-header .search-box .search-form .sw-type .s-icon {
	display:inline-block;
	width:6px;
	height:8px;
	overflow:hidden;
	vertical-align:middle;
	background:url(../../images/newhome/icon.png) -129px -8px no-repeat
}
.global-header .search-box .search-form .sw-type .s-kind {
	display:none;
	width:60px;
	background-color:#f5f5f5;
	position:absolute;
	left:0px;
	top:31px;
	border:0 none;
	padding:0px;
	text-indent:13px
}
.global-header .search-box .search-form .sw-type .s-kind li:hover {
	color:#d66464
}
.global-header .search-box .search-form .sw-type-change {
	height:50px;
	_height:25px;
	background-color:#f5f5f5
}
.global-header .search-box .search-form .sw-type-change .s-kind {
	display:block
}
.global-header .search-box .search-form .search-input {
	display:inline;
	float:left;
	width:284px;
	height:18px;
	vertical-align:middle;
	line-height:19px;
	padding:5px 15px;
	margin-top:2px;
	margin-left:60px;
	_margin-left:0px;
	font-family:"Microsoft YaHei";
	color:#d9d9d9;
	background-color:#fff;
	border-left:1px solid #ccc
}
.global-header .search-box .search-form .c-gray {
	color:#666
}
.global-header .search-box .search-form .search-button {
	float:right;
	width:78px;
	height:32px;
	text-align:center;
	line-height:32px;
	background-color:#c33;
	color:#fff;
	font-family:"Microsoft YaHei";
	cursor:pointer;
	text-decoration:none;
	font-size:14px
}
.global-header .search-box .search-key {
	position:absolute;
	left:0px;
	height:37px;
	overflow:hidden;
	color:#999;
	font-size:12px;
	font-family:"Microsoft YaHei"
}
.global-header .search-box .search-key .key-tit {
	float:left
}
.global-header .search-box .search-key .key-txt {
	display:block;
	width:410px;
	margin-left:49px
}
.global-header .search-box .search-key .key-txt a {
	color:#999;
	text-decoration:none;
	margin-right:10px;
	white-space:nowrap
}
.global-header .search-box .search-key .key-txt a:hover {
	text-decoration:underline
}
.global-header .yapp {
	width:200px;
	height:80px;
	border-left:1px dotted #ddd;
	margin-top:10px
}
.global-header .yapp .txt-app {
	float:left;
	width:88px;
	text-align:left;
	color:#999;
	padding:10px 0px 0px 15px
}
.global-header .yapp .txt-app h4 {
	height:22px;
	overflow:hidden;
	color:#666;
	font-size:15px;
	font-weight:bold
}
.global-header .yapp .txt-app p,.global-header .yapp .txt-app .txt {
	height:53px;
	overflow:hidden
}
.global-header .yapp .img-app {
	float:right;
	width:80px;
	height:80px;
	background:url(../../images/newhome/img_app.jpg) right top no-repeat
}
.global-header .ynav {
	height:40px;
	clear:both
}
.global-header .ynav .navli {
	float:left;
	padding:9px 20px;
	height:23px
}
.global-header .ynav .navli .nava {
	float:left;
	font-family:"Microsoft YaHei";
	font-size:15px;
	color:#666;
	font-weight:bold;
	cursor:pointer
}
.global-header .ynav .navli .nava:hover {
	text-decoration:none;
	color:#c33
}
.global-header .ynav .navli .nava .icon {
	display:inline-block;
	width:22px;
	height:15px;
	margin-right:12px;
	margin-bottom:-1px;
	overflow:hidden;
	background:url(../../images/newhome/icon.png) -267px -33px no-repeat
}
.global-header .ynav .navli .cate-hd {
	visibility:hidden;
	width:170px;
	height:400px;
	position:absolute;
	left:0px;
	top:43px;
	background-color:#c33;
	text-align:left;
	z-index:10000
}
.global-header .ynav .navli .cate-hd .cate-nav {
	width:170px;
	height:400px;
	overflow:hidden
}
.global-header .ynav .navli .cate-hd .cli {
	display:block;
	height:65px;
	width:140px;
	overflow:visible;
	padding:15px 15px 0px;
	border-top:1px solid #ef6464;
	margin-top:-1px;
	cursor:default
}
.global-header .ynav .navli .cate-hd .cli a {
	text-decoration:none
}
.global-header .ynav .navli .cate-hd .cli h3 {
	color:#fff;
	font-size:15px;
	height:22px;
	overflow:hidden
}
.global-header .ynav .navli .cate-hd .cli .icon {
	height:10px;
	background:none
}
.global-header .ynav .navli .cate-hd .cli .icon:before,.global-header .ynav .navli .cate-hd .cli .icon:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	font-size:0;
	line-height:0
}
.global-header .ynav .navli .cate-hd .cli .arrow {
	display:inline-block;
	width:6px;
	height:10px;
	overflow:hidden;
	background:url(../../images/newhome/img_navbg.png) -32px -118px no-repeat
}
.global-header .ynav .navli .cate-hd .cli .navs {
	margin-left:-4px;
	height:20px;
	overflow:hidden
}
.global-header .ynav .navli .cate-hd .cli .navs a {
	font-size:12px;
	cursor:pointer;
	color:#fcc;
	padding:0px 7px 0px 4px;
	background:url(../../images/newhome/navsli.jpg) right center no-repeat
}
.global-header .ynav .navli .cate-hd .cli .navs a:hover {
	text-decoration:none;
	color:#fff
}
.global-header .ynav .navli .cate-hd .cli .navs a:last-child {
	background:none
}
.global-header .ynav .navli .cate-hd .cli .navs .nbg {
	background:none
}
.global-header .ynav .navli .cate-hd .cli .site-menus {
	left:170px;
	top:0px;
	height:380px;
	overflow:hidden
}
.global-header .ynav .navli .cate-hd .cli .site-menus .site-list {
	min-height:380px;
	_height:380px
}
.global-header .ynav .navli .cate-hd .current {
	background-color:#ef6464
}
.global-header .ynav .navli .cate-hd .current .navs a {
	background:none
}
.global-header .ynav .navli .cate-hd .current .arrow {
	visibility:hidden
}
.global-header .ynav .navli .cate-hd .current .site-menus {
	display:block
}
.global-header .ynav .allcate {
	z-index:100;
	width:143px;
	padding-left:12px;
	padding-right:15px;
	margin-right:30px;
	background-color:#a90000;
	border-bottom:2px solid #900
}
.global-header .ynav .allcate .nava {
	color:#fff
}
.global-header .ynav .allcate .nava:hover {
	color:#fff
}
.global-header .ynav .home .nava,.global-header .ynav .curnav .nava {
	color:#cc3333
}
.global-header .ynav .hnav {
	position:relative
}
.global-header .ynav .hnav .cate-hd {
	visibility:visible
}
.global-header .ynav .show .cate-hd {
	visibility:visible
}
.footer {
	background-color:#fff
}
.bottom_list {
	width:880px;
	margin:10px auto 15px;
	text-align:left;
	overflow:hidden
}
.bottom_list .dl {
	float:left;
	width:190px;
	font-size:12px
}
.bottom_list a {
	color:#999
}
.bottom_list a:hover {
	color:#1F7DD8
}
.bottom_list .last {
	width:auto
}
.bottom_list .last .img {
	width:90px;
	height:90px
}
.bottom_list .weixin {
	display:inline-block;
	width:90px;
	height:113px;
	background:url(/content/images/weixin2d.png) no-repeat
}
.bottom_list .weibo {
	display:block;
	width:90px;
	height:30px;
	background:url(/content/images/weibo.jpg) no-repeat
}
.bottom_list .dt {
	font:bold 14px/26px 'Microsoft yahei'
}
.bottom_list li {
	padding:3px 0
}
.matou-intro {
	text-align:center;
	padding:10px 0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd
}
.matou-intro a {
	font:bold 12px/1.5 "Microsoft yahei";
	display:inline-block;
	border-right:1px solid #ddd;
	padding:0 10px;
	color:#868686
}
.matou-intro a:hover {
	color:#1F7DD8
}
.matou-intro .last {
	border-right:0
}
.matou-link {
	margin:0 auto;
	width:1100px;
	overflow:hidden;
	padding:10px 0;
	text-align:center
}
.matou-link a {
	display:inline-block;
	vertical-align:middle;
	padding:0 8px;
	color:#bbb;
	border-right:1px solid #ccc;
	margin:5px 0;
	height:18px;
	line-height:18px
}
.matou-link a:hover {
	color:#1F7DD8
}
.matou-link a.bo {
	border-right:0
}
.matou-server {
	background:url(/images/sprites/shadow1px.png) repeat-x #c33;
	height:36px;
	text-align:center;
	padding:20px 0
}
.matou-server .item {
	display:inline-block;
	margin:0 50px;
	display:inline
}
.matou-server .png {
	background-image:url(/images/sprites/icon-footer.png);
	background-repeat:no-repeat;
	display:inline-block;
	vertical-align:middle;
	width:36px;
	height:36px;
	margin-right:10px
}
.matou-server .item a {
	color:#fff;
	font:bold 14px/30px "Microsoft  yahei";
	display:inline-block;
	vertical-align:middle
}
.icon-baozhang {
	background-position:0 0
}
.icon-huhang {
	background-position:0 -46px
}
.icon-renzheng {
	background-position:0 -93px
}
.icon-bianjie {
	background-position:0 -139px
}
.weibobox {
	border:1px solid #ddd;
	display:block;
	padding:3px 1px 3px 5px;
	margin-top:5px;
	text-decoration:none
}
.weibobox a {
	vertical-align:middle;
	display:inline-block;
	margin:0 2px
}
.friendLinks {
	width:760px;
	margin:10px auto;
	clear:both;
	height:50px;
	text-align:center;
	font-size:0;
	letter-spacing:-4px
}
.friendLinks .linkitem {
	display:inline-block;
	vertical-align:middle;
	background-image:url(/images/sprites/footrenzheng.2015090615.png);
	background-repeat:no-repeat;
	margin-right:5px
}
.friendLinks .icon-kexin {
	width:128px;
	height:50px;
	background-position:-5px -2px;
	margin-right:3px
}
.friendLinks .icon-chengxin {
	width:156px;
	height:50px;
	background-position:-136px -2px
}
.friendLinks .icon-zhifubao {
	width:102px;
	height:50px;
	background-position:-296px -2px
}
.friendLinks .icon-wangjing {
	width:153px;
	height:50px;
	background-position:-404px -2px
}
.friendLinks .icon-gongshang {
	width:47px;
	height:47px;
	background-position:-562px -2px
}
.friendLinks .icon-gongshang2 {
	width:150px;
	height:50px;
	background-image:url(/images/sprites/gongshang.2015090615.png)
}
.copywrite {
	text-align:center;
	color:#bababa
}
#copywrite {
	width:100%;
	overflow:hidden
}
.alert_box {
	display:none
}
.floatbox {
	position:fixed;
	_position:absolute;
	bottom:0;
	right:0;
	z-index:500;
	width:360px;
	text-align:left
}
.V_Account_tip {
	position:absolute;
	width:255px;
	height:55px;
	left:90px;
	top:28px;
	background-color:#FFFFE5;
	position:absolute;
	color:#F03D00;
	z-index:10000;
	font-size:12px;
	letter-spacing:normal
}
.V_Account_img {
	width:13px;
	height:14px;
	display:inline-block;
	vertical-align:top;
	background:url(/content/img/sprites/icon.png) no-repeat -49px -236px;
	margin-top:-1px
}
.tip-yel-up {
	background-color:#FFFFE5;
	position:absolute;
	color:#F03D00;
	border:1px solid #FAC97A;
	border-radius:4px 4px 4px 4px
}
.tip-yel-up .con {
	margin:5px 20px 5px 8px;
	line-height:22px
}
.tip-yel-up .arrow {
	width:18px;
	height:8px;
	background:url(/images/sprites/ico-small.png?v=201312161746) -105px -233px no-repeat;
	top:-8px;
	left:25px;
	position:absolute
}
.tip-yel-up .shut {
	width:10px;
	height:8px;
	background:url(/images/sprites/ico-small.png?v=201312161746) 0px -64px no-repeat;
	position:absolute;
	right:8px;
	top:8px;
	cursor:pointer
}
.user-grade {
	color:#f04e00;
	font-weight:normal;
	font-size:18px
}
.tooltip-white .arrow-up,.tooltip-white .arrow-down {
	background-image:url(/images/sprites/ico-small.png?v=201403191904)
}
.tooltip-white {
	border:1px solid #BDBDBD;
	padding:5px;
	background-color:#fff;
	display:inline-block;
	position:relative
}
.tooltip-white .arrow-up,.tooltip-white .arrow-down {
	background-position:-106px -258px;
	width:12px;
	height:8px;
	position:absolute;
	top:-7px;
	left:20px
}
.tooltip-white .arrow-down {
	background-position:-106px -267px
}
.topsite .tooltip-white {
	top:34px;
	left:100px;
	white-space:nowrap
}
.icon-member-info,.icon-member-birth,.icon-member-vipprotect,.icon-member-vipprice,.icon-member-vip,.icon-member-freetrans {
	display:inline-block;
	margin:0 3px;
	vertical-align:middle;
	background-image:url(/images/sprites/sprite-member.png?v=201403211150);
	background-repeat:no-repeat;
	width:24px;
	height:24px
}
.icon-member-info {
	background-position:-68px 0
}
.icon-member-birth {
	background-position:-102px 0
}
.icon-member-vipprotect {
	background-position:0 0
}
.icon-member-vipprice {
	background-position:-170px 0
}
.icon-member-vip {
	background-position:-136px 0
}
.icon-member-freetrans {
	background-position:-34px 0
}
#activation-prompt {
	border:1px solid #FAC97A;
	display:inline-block;
	position:absolute;
	top:30px;
	padding:5px;
	padding-right:20px;
	width:280px;
	left:10px;
	font-weight:normal;
	line-height:18px;
	border:1px solid #FAC97A;
	z-index:55;
	background:#FFFAEB
}
#activation-prompt .aptops {
	position:absolute;
	top:-13px;
	left:40%;
	display:inline-block;
	color:#FAC97A
}
#activation-prompt .close {
	position:absolute;
	right:5px;
	top:5px
}
.btn-0 {
	display:inline-block;
	box-shadow:0 1px 1px #efefef;
	height:26px;
	text-decoration:none;
	margin-right:5px;
	vertical-align:middle;
	line-height:26px;
	padding:0 10px;
	cursor:pointer;
	min-width:40px;
	text-align:center
}
.btn-0 {
	border-radius:2px;
	background:-moz-linear-gradient(top,#F1560B,#F15D16,#F04E00,#E24900,#CE4300);
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#F1560B),to(#CE4300));
	background:-o-linear-gradient(top,#F1560B,#CE4300);
	filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr='#F1560B',endColorStr='#CE4300',gradientType=0);
	background:linear-gradient(to bottom,#F1560B,#F15D16,#F04E00,#E24900,#CE4300);
	_background-color:#F1560B;
	color:#fff;
	border:1px solid #D74904
}
a.btn-0:hover {
	color:#fff;
	text-decoration:none;
	background:-moz-linear-gradient(top,#F04E00,#CE4300,#E24900,#CE4300);
	background:-webkit-gradient(linear,0% 0%,0% 100%,from(#F04E00),to(#CE4300));
	background:-o-linear-gradient(top,#F04E00,#CE4300);
	filter:progid:DXImageTransform.Microsoft.Gradient(gradientType='0',startColorStr='#F04E00',endColorStr='#CE4300');
	background:linear-gradient(to bottom,#F04E00,#CE4300,#E24900,#CE4300)
}
.v {
	display:inline-block;
	vertical-align:middle
}
.clearfix:after,.wrapper:after {
	content:".";
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
	font-size:0;
	line-height:0
}
.clearfix,.wrapper {
	display:inline-block
}
.clearfix,.wrapper {
	display:block
}
.clear {
	height:0;
	overflow:hidden;
	clear:both;
	display:block
}
.fix {
	word-wrap:break-word;
	overflow:hidden;
	text-overflow:ellipsis
}
.fl {
	float:left
}
.fr {
	float:right
}
.yel {
	color:#F04D00
}
.none {
	display:none
}
.block {
	display:block
}
.blue {
	color:#3368FF
}
.white {
	color:#fff
}
.price b {
	color:#FF2900;
	font-size:22px
}
.yel {
	color:#F04D00
}
.gray {
	color:#acacac
}
